<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ Assembly Name="System.Xml.dll" #>
<#@ Assembly Name="System.Xml.Linq.dll" #>
<#@ Assembly Name="System.Core.dll" #>
<#@ Assembly Name="Microsoft.CSharp.dll" #>
<#@ Assembly Name="System.Linq.dll" #> 
<#@ Assembly name="$(SolutionDir)packages\AmazedSaint.ElasticObject.1.2.0\lib\net40\AmazedSaint.Elastic.dll" #>
<#@ Import Namespace="System.Xml" #>
<#@ Import Namespace="System.Xml.Linq" #>
<#@ Import Namespace="System.Linq" #>
<#@ Import Namespace="AmazedSaint.Elastic" #>
<#@ Import Namespace="AmazedSaint.Elastic.Lib" #>
<#@ output extension=".cs" #>
<#@ import Namespace="System.Collections.Generic" #>
<#@ import Namespace="System.IO" #>
<#@ import Namespace="System.Windows" #>  


<#+

dynamic mapnamespacestring;

public void GenerateAllMappingClasss(string sourceFolder,string destinationFolder,Dictionary<string,string> namespacesparam)
{
NamespacesDictionary = namespacesparam;
 mapnamespacestring = GetMappingClassNameSpace(destinationFolder);
 string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
 string sourceFilePath = Path.Combine(templateDirectory, sourceFolder);

foreach (string file in Directory.EnumerateFiles(sourceFilePath, "*.lxml"))
{

    var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(file);
	string filename = fileNameWithoutExtension+"DataMapping.Generated.cs";
	GenerateMappingClass(file,destinationFolder+"/Generated/"+filename);
	 
}

}
#>



<#+  

public void GenerateMappingClass(string xmlFilePath,string outputFilePath)
{
	
	 
	if(string.IsNullOrEmpty(mapnamespacestring))
    {
		mapnamespacestring = GetMappingClassNameSpace(outputFilePath);
    }
    var entity = FromFile(xmlFilePath);

	 if( entity.IsMetadataOnlyTable.GetType() == typeof(string))
      	{
	    	if(entity.IsMetadataOnlyTable == "true")
	    	{
	    		return;
	    	}
	    } 

	WriteMappingClassMethod(entity);
    SaveMappingClassOutput(outputFilePath);
    
}
 
#>



<#+

public dynamic GetMappingClassNameSpace(string destinationFolder)
{
	string spacestring = "";
	string[] path = destinationFolder.Split('/');
	foreach(string dir in path)
    {
		if(dir != "..")
        {
			spacestring += dir + ".";
        }
    }

	
	spacestring = spacestring.ToString().Trim('.');
 
	return spacestring;
}

#>

<#+
void SaveMappingClassOutput(string outputFileName)
  {
      string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
      string outputFilePath = Path.Combine(templateDirectory, outputFileName);
	 // if(!File.Exists(outputFilePath))
    //{
	   
	    var manager = Manager.Create(Host, GenerationEnvironment);
	    manager.CreateTestFile(outputFilePath,this.GenerationEnvironment.ToString());
	    this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
    //}
  }
#>


<#+
  List<dynamic> POCOFields = new List<dynamic>();
  List<dynamic> PMFields = new List<dynamic>();
 private void WriteMappingClassMethod(dynamic entity)
{
	POCOFields = new List<dynamic>();
	PMFields = new List<dynamic>();
	foreach(var field in entity["field"])  
		 { 
		  if( field.HasDataBaseField.GetType() == typeof(string))
           {
             if(field.HasDataBaseField == "true")
               {
                  POCOFields.Add(field);
               }
           }
         }

		foreach(var field in entity["field"])  
		 { 
		  if( field.HasPMField.GetType() == typeof(string))
           {
             if(field.HasPMField == "true")
               {
                  PMFields.Add(field);
               }
           }
         }
	string tableName = entity.ObjectTableName.Trim('"');
	string dBTableName = entity.DBTableName.Trim('"');
	string schema ="";
	 
	if(tableName.ToString().Trim('"').Contains("."))
    {
		tableName = tableName.ToString().Split('.')[1];
		dBTableName = dBTableName.ToString().Split('.')[1];
        
    }
	string pmName = tableName+ "PM";
   #>
//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated by a Amital
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated> <#= Path.GetFileName(Host.TemplateFile) #>
//---
using System.Text;
using AmitalCloud.Infrastructure.Domain.Interfaces;
<#+ if(   entity.SupportSubEntity.ToString() == "true") {#>using AmitalCloud.Infrastructure.Data.Services;
<#+}#>
<#+ if( entity.ApplyGenericCustomFields.ToString() == "true") {#>using AmitalCloud.Infrastructure.Data.Services;
<#+}#>
using POCO = <#= NamespacesDictionary["pocosspacestring"] #> ;
using <#= NamespacesDictionary["pmsspacestring"] #> ;
using <#= NamespacesDictionary["entitylistsnamespace"] #> ;
using <#= NamespacesDictionary["databaseclassnamespace"] #> ;
using AutoMapper;

namespace <#= mapnamespacestring #>
{
    public partial class <#=tableName #>DataMapping: BaseMappingProfile<<#=pmName #>, POCO.<#=tableName #>>, IMapping<<#=pmName #>, POCO.<#=tableName #>, <#=tableName #>List >,IMappingEncodeBase64NVARCHARFields<<#=pmName #>>
    {
    <#+		 

    var fieldsToMap = PMFields.Where(field => field.TableRelatedPM.GetType() == typeof(string) && field.TableRelatedPM != null && field.FieldRelatedPM.GetType() == typeof(string) && field.FieldRelatedPM != null).ToList();

    if (fieldsToMap.Count > 0) {
    #>
    protected override void ApplyGeneratedMapping(IMappingExpression<POCO.<#=tableName #>, <#=pmName #>> map)
        {
    <#+
	foreach(var field in fieldsToMap)  
    {
        string tableRelatedPM = field.TableRelatedPM.ToString().Trim('"');
        string fieldRelatedPM = field.FieldRelatedPM.ToString().Trim('"');
        string PMPropertyPath = field.PMPropertyPath.ToString().Trim('"');
    #>
        map.ForMember(dest => dest.<#= PMPropertyPath #>, opt => opt.MapFrom(src => src.<#= tableRelatedPM #>.<#= fieldRelatedPM #>));
    <#+
    } // end foreach
    #>
    }

    <#+
    } // end if
    #>
	    public void EncodeBase64NVARCHARFields(<#= pmName #> entityPM)
        {
            if (String.IsNullOrWhiteSpace(entityPM.EncodeBase64NVARCHARFieldsBy)) 
            {
                return;
            }
<#+		 
		 foreach(var field in POCOFields)  
        {
				bool isCustom= false;
			if(field.IsCustom.GetType() == typeof(string) && field.IsCustom == "true")
				{
					isCustom = true;
				}
            string type = GetDataType(field);
            string datatype = GetEntityMapPropertyName(field.FieldsDataType.ToString());
            if(type != "List")
            {
                if(datatype != "nText" || isCustom)
                {
                    continue;
                }
                if(PMFields.Contains(field))
                {
                    if( field.IsPrimaryKey.GetType() == typeof(string))
                    {
                        if(field.IsPrimaryKey.ToString() == "true")
                        {
                            continue;
                        }
                    }
                    dynamic fieldName = GetPropertyName(field.FieldName); 
#>
            if (!String.IsNullOrWhiteSpace(entityPM.<#=fieldName #>)) //T4 find type == nText 
            {
                entityPM.<#=fieldName #> = Encoding.GetEncoding(entityPM.EncodeBase64NVARCHARFieldsBy).GetString(Convert.FromBase64String(entityPM.<#=                    fieldName #>));
            }
<#+           
                }
            }
        }
#>
            entityPM.EncodeBase64NVARCHARFieldsBy=null;
		}
    }
}
	 <#+
	}
#>


